footer {
    background-color:var(--abi) ;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    text-align: center;
    font-size: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
    padding: 5px;
    color: rgba(255, 255, 255, 0.574);
}
.footer-seprator{
    border: 20px solid rgba(0, 0, 0, 0);
}