/*Header and Menu*/
.headercontainer img{
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.fristheader{
    /* display: flex; justify-content: center; flex-direction: row; */
}
.headercontainer {
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    height: 50px; 
    background-color: var(--abi);
}
.headercontainer > div {
    padding: 0 5px;
}
.divsearch {
    margin-left: 36px;
}
.searchbox {
    background-color: var(--tusi);
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none; 
    width: 50vw;
    
}
.searchicon {
    /* display: none; */
    /* I think, opacity and relatives position are not a good idea */
    opacity: 0.4;
    left: -36px;
    position: relative;
}


.tinylogo {
    margin-right: auto;
}
.favorite{
    margin-left:auto;
}
.menu{
    /* margin-left: auto; */
}

/*Body */
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 406px;
}

.content input {
    width: 220px;
    background-color: var(--tusi);
    margin: 5px;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
}
.content button{
    width: 240px;
    margin: 5px;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    color: antiquewhite;
    background-color: var(--abi);
    

}
.content a {
    font-size: 0.7em;
    color:var(--tusi_linkHa);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    background-color: var(--tusi);
    bottom: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 0.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}